In [43]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [44]:
from sentimentAnalyzer3 import sentimentAnalyzer
dfAnal = sentimentAnalyzer(df)
dfAnal.head()

,id,Compound,Negative,Positive,Neutral,NumC,NumL,Caps
0,0000997932d777bf,0.5574,0.000,0.103,0.897,17,222,0.076577
1,000103f0d9cfb60f,0.2942,0.099,0.158,0.743,8,95,0.084211
2,000113f07ec002fd,-0.1779,0.083,0.068,0.849,4,192,0.020833
3,0001b41b1c6bb37e,0.5106,0.022,0.062,0.916,11,507,0.021696
4,0001d958c54c6e35,0.6808,0.000,0.337,0.663,2,55,0.036364

In [45]:
df = df.drop('comment_text', axis=1)
df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,0,0,0,0,0,0
1,000103f0d9cfb60f,0,0,0,0,0,0
2,000113f07ec002fd,0,0,0,0,0,0
3,0001b41b1c6bb37e,0,0,0,0,0,0
4,0001d958c54c6e35,0,0,0,0,0,0

In [46]:
df = pd.merge(df, dfAnal, on = 'id')
df.shape

(159571, 14)

In [47]:
df.to_csv('trainC.csv', encoding= 'utf8', index=False)
pd.read_csv('trainC.csv').head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate,Compound,Negative,Positive,Neutral,NumC,NumL,Caps
0,0000997932d777bf,0,0,0,0,0,0,0.5574,0.000,0.103,0.897,17,222,0.076577
1,000103f0d9cfb60f,0,0,0,0,0,0,0.2942,0.099,0.158,0.743,8,95,0.084211
2,000113f07ec002fd,0,0,0,0,0,0,-0.1779,0.083,0.068,0.849,4,192,0.020833
3,0001b41b1c6bb37e,0,0,0,0,0,0,0.5106,0.022,0.062,0.916,11,507,0.021696
4,0001d958c54c6e35,0,0,0,0,0,0,0.6808,0.000,0.337,0.663,2,55,0.036364

In [31]:
df = pd.read_csv('test.csv')
df.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [32]:
from sentimentAnalyzer3 import sentimentAnalyzer
dfAnal = sentimentAnalyzer(df)
dfAnal.head()

,id,Compound,Negative,Positive,Neutral,NumC,NumL,Caps
0,00001cee341fdb12,-0.9228,0.248,0.129,0.623,4,296,0.013514
1,0000247867823ef7,0.2023,0.000,0.141,0.859,7,36,0.194444
2,00013b17ad220c46,0.0000,0.000,0.000,1.000,4,35,0.114286
3,00017563c3f7919a,0.5023,0.000,0.090,0.910,4,168,0.023810
4,00017695ad8997eb,0.0000,0.000,0.000,1.000,1,35,0.028571

In [33]:
dfAnal.to_csv('testC.csv', encoding= 'utf8', index=False)

In [34]:
pd.read_csv('testC.csv').head()

,id,Compound,Negative,Positive,Neutral,NumC,NumL,Caps
0,00001cee341fdb12,-0.9228,0.248,0.129,0.623,4,296,0.013514
1,0000247867823ef7,0.2023,0.000,0.141,0.859,7,36,0.194444
2,00013b17ad220c46,0.0000,0.000,0.000,1.000,4,35,0.114286
3,00017563c3f7919a,0.5023,0.000,0.090,0.910,4,168,0.023810
4,00017695ad8997eb,0.0000,0.000,0.000,1.000,1,35,0.028571